

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: right;
}
.body{
  direction: rtl;
  line-height: 3em;
  
  justify-content: flex-start;
}

.audio-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh; /* اندازه بندی مورد نظر خود را انتخاب کنید */
  width: 100%;
}

